.bljg-list {
    padding-top: 15px;
    position: relative;
    box-sizing: border-box;
}

.module-wr:nth-child(odd) .menu-tit {
    background-color: #4bafff;
}

.bljg-list>li>a {
    display: block;
    line-height: 1.5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 10px solid #1387e2;
    background-color: #fff;
    box-shadow: 3px 3px 10px #e2e2e2;
}

.bljg-line {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    /* display: flex; */
}

.bljg-line:last-child {
    margin-bottom: 15px;
}

/* menu icons */

i[class*='icon-menu-'] {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    flex: none;
    /* 一行超出省略的话需配合代码 */
    /* position: relative;
    top: 2px; */
}

i.icon-menu-name {
    background: url(../i_jpyc/bljg_name.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-addr {
    background: url(../i_jpyc/bljg_addr.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-tel {
    background: url(../i_jpyc/bljg_tel.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-mobile {
    background: url(../i_jpyc/bljg_mobile.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-time {
    background: url(../i_jpyc/bljg_time.png) no-repeat center center;
    background-size: contain;
}
.topbar-wr {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 10px;
    background-color: #f0f0f0;
    font-size: 15px;
}

.input-search {
    flex: auto;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 45px;
    font-size: 15px;
}

.btn-mini {
    outline: none;
    border: none;
    flex: none;
    background: none;
    letter-spacing: 2px;
}