.module-wr {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    min-height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px #e2e2e2;
}

.menu-tit {
    background-color: #1387e2;
    color: #fff;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    text-align:  center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    letter-spacing: .2em;
}

.module-wr:nth-child(odd) .menu-tit {
    background-color: #4bafff;
}

.module-list {
    flex: auto;
    display: flex;
    flex-flow: row wrap;
}

.module-list>li>a {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    /* 一行超出省略的话需配合代码 */
    align-items: center;
}

.module-list>li {
    width: 50%;
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    box-sizing: border-box;
}

.module-list__1>li {
    width: 100%;
}

.label {
    /* 一行超出省略的话需配合代码 */
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left:  5px;
}


/* menu icons */

i[class*='icon-menu-'] {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* margin-right: 5px; */
    flex: none;
    /* 一行超出省略的话需配合代码 */
    /* position: relative;
    top: 2px; */
}

i.icon-menu-hzfw {
    background: url(../i_jpyc/hz_hzfw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-zzfw {
    background: url(../i_jpyc/hz_zzfw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-kjzm {
    background: url(../i_jpyc/hz_kjzm.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-wbwpgl {
    background: url(../i_jpyc/hz_wbwpgl.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-tzhyxzxk {
    background: url(../i_jpyc/hz_tzhyxzxk.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-ylcsgl {
    background: url(../i_jpyc/hz_ylcsgl.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-dzpthz {
    background: url(../i_jpyc/crj_dzpthz.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-wlgatxz {
    background: url(../i_jpyc/crj_wlgatxz.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-wltwtxz {
    background: url(../i_jpyc/crj_wltwtxz.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-wgrqzyw {
    background: url(../i_jpyc/crj_wgrqzyw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-gajmyw {
    background: url(../i_jpyc/crj_gajmyw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-twjmyw {
    background: url(../i_jpyc/crj_twjmyw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-jtwfcl {
    background: url(../i_jpyc/cjg_jtwfcl.png) no-repeat center center;
    background-size: contain;
}
i.icon-menu-jdc {
    background: url(../i_jpyc/cjg_jdc.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-jsz {
    background: url(../i_jpyc/cjg_jsz.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-hlwmq {
    background: url(../i_jpyc/cjg_hlwmq.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-jsgc {
    background: url(../i_jpyc/xf_jsgc.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-jzgc {
    background: url(../i_jpyc/xf_jzgc.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-gzjjcs {
    background: url(../i_jpyc/xf_gzjjcs.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-internet {
    background: url(../i_jpyc/xzsp_internet.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-bpry {
    background: url(../i_jpyc/xzsp_bpry.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-bpdw {
    background: url(../i_jpyc/xzsp_bpdw.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-dxqzhd {
    background: url(../i_jpyc/xzsp_dxqzhd.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-chemical {
    background: url(../i_jpyc/xzsp_chemical.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-jrjg {
    background: url(../i_jpyc/xzsp_jrjg.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-guns {
    background: url(../i_jpyc/xzsp_guns.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-fireworks {
    background: url(../i_jpyc/xzsp_fireworks.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-csmsgcbp {
    background: url(../i_jpyc/xzsp_csmsgcbp.png) no-repeat center center;
    background-size: contain;
}

i.icon-menu-web {
    background: url(../i_jpyc/wj_web.png) no-repeat center center;
    background-size: contain;
}