.btn-wr {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.btn-wr>.btn-option {
    flex: 1;
    text-align: center;
    background-color: #1387e2;
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 2px;
}

.btn-wr>.btn-option:first-child {
    margin-left: 0px;
    /* margin-bottom: 10px; */
}

.btn-wr>.hide {
    display: none;
}

.container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
}

.item-wr {
    color: #1287e2;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    font-size: 16px;
    border-radius: 5px;
    /* margin-top: 15px; */
    padding: 0 15px;
    box-shadow: 3px 3px 10px #e2e2e2;
}
.item-tit {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-align:  center;
}
.item__mark {
    display: flex;
    /* ！！！！！！！ 动这里了  把row 换成column 纵向排列 不在一行了*/
    flex-flow: column nowrap;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: 15px;
    position:  relative;
    padding-right:  27px;
}
/* 控制 标签名 工作时间等四个字 */
.item-name {
    /* 加粗 */
    font-weight: bold;
    /* 蓝边框 */
    border-left: 4px solid #1287e2;
    flex: none;
    margin-bottom: 10px;;
    /* 蓝竖杠后间距 */
    padding-left: 10px;
}

.item__mark:last-child {
    margin-bottom: 15px;
}

.item-cnt a {
    color: #1387e2
}
/* 这个label是原来那个材料准备 只有他一个字大点 有蓝边框 换行  但是现在换成mark了  这个类暂时无用*/
.item__label {
    /* border-left: 4px solid #1287e2; */
    color: #000;
    font-weight: bold;
    /* font-size: 18px;    */
    /* padding-left: 10px; */
    margin-top: 15px;
    margin-bottom: 10px;
}
.item-cnt {
    padding-left: 2em;
}

/* menu icons */

i.item-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    flex: none;
    position: absolute;
    top: 2px;
    right: 0;
}

i.icon-name {
    background: url(../i_jpyc/bljg_name.png) no-repeat center center;
    background-size: contain;
}

i.icon-tel {
    background: url(../i_jpyc/bljg_tel.png) no-repeat center center;
    background-size: contain;
}

i.icon-addr {
    background: url(../i_jpyc/bljg_addr.png) no-repeat center center;
    background-size: contain;
}

i.icon-mobile {
    background: url(../i_jpyc/bljg_mobile.png) no-repeat center center;
    background-size: contain;
}

i.icon-time {
    background: url(../i_jpyc/bljg_time.png) no-repeat center center;
    background-size: contain;
}

i.icon-ddline {
    background: url(../i_jpyc/ywxq_deadline.png) no-repeat center center;
    background-size: contain;
}

i.icon-fee {
    background: url(../i_jpyc/ywxq_fee.png) no-repeat center center;
    background-size: contain;
}
.xcx-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 260px;
    margin: -130px 0 0 -130px;
    border: 1px solid #024a9f;
    border-radius: 10px;
    background: #fff;
    display: none;
}

.xcx-box .close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 28px;
    height: 28px;
    border: 1px solid #024a9f;
    border-radius: 50%;
    background: #fff url(../i_jpyc/close.png) center no-repeat;
    display: inline-block;
}

.code-img {
    text-align: center;
    margin: 20px auto 10px;
}

.code-img img {
    width: 200px;
    height: 200px;
}

.xcx-text {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-bottom:  10px;
}

.xcx-text .time {
    color: #f00;
}